.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main{
  max-width: 45vw;
  width: 45vw;
  height: auto;

}

.inside{
width: 80vh;
height: 100vh;
}

.page2{
  margin: 0;
  padding: 0;
background-color: black;

}
ul {
list-style-type: none;
}
