.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main{

  width: auto;
  height: 100vh;

}

.inside{
  max-width: 100%;
width: 80vh;
height: 100vh;
}

.page1{
  margin: 0;
  padding: 0;
}
.page2{
  margin: 0;
  padding: 0;
background-color: black;

}
ul {
list-style-type: none;
}
